.footer-link:hover {
    padding-left: 0.6rem;
    color: rgb(128, 126, 126);
    text-decoration: none;
}

.navbar-footer {
    list-style: none;
    padding: unset;
}

.footer-link {
    display: inline-block;
    color: rgb(14, 13, 13);
    text-decoration: none;
    transform: all 0.5s ease-in;
}

.footer-socials a i {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 1px solid white;
}

.footer-contact a i {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 1px solid white;
}

.social-icon i.fa-facebook:hover {
    background: #3b5998;
    border-color: #3b5998;
}

.social-icon i.fa-twitter:hover {
    background: #55acee;
    border-color: #55acee;
}

.social-icon i.fa-google-plus:hover {
    background: #dd4b39;
    border-color: #dd4b39;
}

.social-icon i.fa-instagram:hover {
    background: #ff0084;
    border-color: #ff0084;
}

.social-icon i.fa-instagram:hover {
    background: #ff0084;
    border-color: #ff0084;
}

.social-icon i.fa-telegram:hover {
    background: #0088cc;
    border-color: #0088cc;
}

.social-icon i.fa-viber:hover {
    background: #59267c;
    border-color: #59267c;
}

.social-icon i.fa-envelope:hover {
    background: white;
    border-color: white;
}

.social-icon i.fa-phone:hover {
    background: white;
    border-color: white;
}

.social-icon i.fa-comment-dots:hover {
    background: white;
    border-color: white;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #55acee;
}

.google:hover {
    color: #dd4b39;
}

.instagram:hover {
    color: #ff0084;
}

.telegram:hover {
    color: #0088cc;
}

.viber:hover {
    color: #59267c;
    transform: all 0.3s ease-in;
}

.effect-ease li a:after {
    content: '';
    width: 0%;
    left: 40%;
    transition: all 0.3s ease;
}

.effect-brackets a:before,
.effect-brackets a:after {
    display: inline-block;
    opacity: 0;
}

.effect-brackets a:before {
    margin-right: 10px;
    content: "[";
    transform: translateX(20px);
}

.effect-brackets a:after {
    margin-right: 10px;
    content: "]";
    transform: translateX(-20px);
}

.effect-brackets a:hover:before,
.effect-brackets a:hover:after,
.effect-brackets a:focus:before,
.effect-brackets a:focus:after {
    opacity: 1;
    transform: translateX(0px);
    transition: transform 0.3s, opacity 0.2s;
}