
.col{width: 100%;}
.col-1{width: calc(1*100%/12);}
.col-2{
    width: calc(2*100%/12);
}
.col-md-3{width: calc(3*100%/12);
flex: 0 0 20%;}
.col1-md-3{width: calc(3*100%/12);
  flex: 0 0 25%;
  padding-left: 15px;
 }

.col-4{width: calc(4*100%/12);
    }
.col-5{width: calc(5*100%/12);}
.col-6{width:calc(6*100%/12);}
.col-7{width:calc(7*100%/12);}
.col-8{width:calc(8*100%/12);}
.col-9{width:calc(9*100%/12);}
.col-10{width:calc(10*100%/12);}
.col-11{width:calc(6*100%/12);}
.col-12{width:calc(6*100%/12);}
.img-fluid {
    max-width: 100%;
    height: auto;
}

.product-img .img-fluid {
  max-width: 60%;
  height: auto;
}
.product-img{
  display:inline-flex;
}
.row{display: flex;
flex-wrap: wrap;
/*margin-right: -15px;*/
margin-left: -15px;}

.rowprod{display: flex;
  flex-wrap: wrap;
  margin-left: -15px;}
.float-left{float: left;}
.float-right{float:right;}
.mb-3{
    margin-bottom: 1rem;
}
.mr-auto {
    margin-right: auto 
}
.p-5 {
  padding: 3rem;
}

body{
  margin:0px;
}
.container {
  display: inline-flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-width: 992px;
}

/*
@media (min-width: 300px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 500px) {
  .container {
      max-width: 1023px;
  }
}

@media (min-width: 1024px) {
  .container {
      max-width: 1279x;
  }
}

@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}
*/



.col-3,
.col-4,
.col-6,
.col-9,
.col,
.col-auto,
.col-sm-6,
.col-md-4,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-9,
.col-xl-3,
.col1-md-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
/*
@media (min-width: 576px) {
  .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }*/
  .col-lg-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
  .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }

/*
@media (min-width: 1280px) {
  .col-xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  
}


/* margin padding */

.m-0 {
  margin: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
  text-align: center;
  font-size: 18px;
}

.p-0 {
  padding: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.py-2 {
  padding-top: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.pt-5,
.py-5 {
  padding-top: 0.1rem !important;
  background-color: rgb(243, 165, 76);
}

.pb-5,
.py-5 {
  padding-bottom: 0rem !important;
}

.m-auto {
  margin: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}


.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}



.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
  padding: 10px;
  padding-left: 40px;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

