.navbar {
    display: table-footer-group;
    position: relative;
    padding: 0.5rem 1rem;
    max-width: 1280px;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    color: lightgoldenrodyellow;
    text-decoration: none;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

.navbar-nav {
    display: flex;
    flex-direction: raw;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.logo {
    display: inline-flex;
    max-height: 5em;
    animation: move 10s infinite alternate linear;
    transform: translate(10, 0);
}

@keyframes move {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-300px, 0, 0);
    }
}

.logo:after {
    transform: translate(-200px, 0);
    -webkit-transform: translate(-200px, 0);
}

.fas {
    margin-right: 10px;
}

.nav-item {
    display: inline-block;
    color: rgb(69, 6, 218);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    transform: all 0.5s;
}

.fas {
    color: black;
    margin-right: 10px;
}

.nav-link:hover {
    padding-right: 0.6rem;
    color: rgb(128, 126, 126);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.navbar-nav {
    font-size: 0.95rem;
    color: rgba(41, 5, 172, 0.99);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #797878;
}

.links-container {
    display: flex;
}

.links-container a {
    background: transparent;
    display: block;
    transition: var(--transition);
}

.links-container a:hover {
    color: var(--clr-primary);
}

.navcontainer {
    display: inline-flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-width: 1160px;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    height: auto !important;
}


/* .linkscont {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    height: auto !important;
} */

@media (min-width: 300px) {
    .navcontainer {
        max-width: 540px;
    }
}

@media (min-width: 500px) {
    .navcontainer {
        max-width: 1023px;
    }
}

@media (min-width: 1024px) {
    .navcontainer {
        max-width: 1279x;
    }
}

@media (min-width: 1280px) {
    .navcontainer {
        max-width: 1280px;
    }
}

@media screen and (max-width: 59.9em) {
    .navcontainer {
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 10000;
    }
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    order: 1;
}

.nav-toggle:hover {
    color: var(--clr-secondary);
}

.nav-toggle {
    display: none;
    order: 1;
}

.cart-items {
    display: grid;
    margin: 0 auto;
    height: auto;
    grid-gap: 2px;
    grid-template-rows: 25%, 1fr;
    grid-template-columns: repeat(25%, 1fr, 20%);
    justify-content: center;
    align-content: start
}