.navbar{
    display: table-footer-group;
    position: relative;
    padding: 0.5rem 1rem;
    max-width: 1280px;
  }
  .navbar-brand {font-family: 'Roboto', sans-serif;
    font-size: 4em;
    color: lightgoldenrodyellow;
    text-decoration: none;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    
  }
  .navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}
  
  .navbar-nav {display: flex;
    flex-direction:raw;
  list-style: none;
      padding-left: 0;
      margin-bottom: 0;
   }
     .logo{
     display: inline-flex;
    
     max-height: 5em;}

.fas{ margin-right:10px;} 
  .nav-item{
    display: inline-block;
      color: rgb(69, 6, 218);
      text-align: center;
      padding: 14px 16px;
      text-decoration:none;
      font-size: 18px;
    } 
  .nav-link{
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;    
    transform: all 0.5s;
  }
  .fas{
  color:black;
  margin-right:10px;}
  .nav-link:hover{
    padding-right: 0.6rem;
    color: rgb(128, 126, 126);
    text-decoration: none;
  }
  

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.navbar-nav  {
    font-size: 0.95rem;
    color: rgba(41, 5, 172, 0.99);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #797878;
}

