@keyframes slider {
    0% {
        left: 0%;
    }
    10% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    50% {
        left: -400%;
    }
    60% {
        left: -300%;
    }
    70% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    95% {
        left: -100%;
    }
    100% {
        left: -0%;
    }
}

.carousel {
    display: table-cell;
}

.carousel,
.slider {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    max-width: 80%;
    background-color: rgb(241, 237, 237);
}

.slides .slide {
    width: 20%;
    float: left;
    position: relative;
}

.slide2 {
    position: absolute;
    top: 0;
    left: 0;
}

.slides .items {
    /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
    margin: 0;
    position: relative;
}

.slider .items {
    animation: 40s slider infinite;
    animation-delay: 10s;
}

.slider .items:hover {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
}


/*сркывает все, что находится за пределами этого блока*/

.overflow {
    width: 100%;
    overflow: hidden;
}


/*размер слайдера*/

.slide {
    width: 100%;
}


/*размер изображений слайдера*/

.slide img {
    width: 100%;
    max-width: 100%;
}