@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400;1,500&display=swap');
body{line-height: 2,0;
  /*background-color: rgb(228, 222, 222);*/

}
.header{
  background-color: rgb(243, 165, 76);
}
.container{
 display: inline-flex;
 min-width: 992px;
 padding-right: 15px;
 padding-left: 15px;
 margin-left: auto;
 margin-right: auto;
}

.navbar{
  display: table-footer-group;
}
.navbar-brand {font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: rgb(188, 226, 231);
  text-decoration: none;
  display: inline-block;
}

.navbar-nav {display: block;
list-style: none;
    padding-left: 0;
    margin-bottom: 0;
 }
 .logo{
   display: inline-flex;
   padding: 2em;
   
 }
.nav-item{
  display: inline-block;
    color: rgb(29, 28, 28);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
  } 
.nav-link{
  display: inline;
  text-decoration: none;
}
.fas{
color:black;
margin-right:10px;} 
.popular{
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
}
.row{
background-color: rgb(241, 237, 237);}
/*.top{
}*/

.backgr{
background-color: rgb(241, 237, 237);
display: block;
}

.recommendation{ display: block;
  text-align: center;
  font-style: oblique;
}
.interest{
 background-color: rgb(241, 237, 237);
  display: block;
}

/*.list-inline{
  
}*/
.bg-dark{
  background-color: #cf740c;
  
}
/*.text-white{

}*/
.text-dark{
  color: white;
  font-size: medium;
  margin: 0em;

}
.footer-link
{display: inline-block;
color: rgb(14, 13, 13);
text-decoration: none;
}
.overlay-trend {
  color: rgb(240, 33, 50);
  text-align: center;
  font-size: 2em;
  padding: 6em 0;
  background-color: #eee;
  background-image: url("../images/backgr4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.btn{  
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
  text-decoration: none;}
  .btn-btn{
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    vertical-align: middle;
    text-decoration: none;
     }
  .btn-dark {
    color: rgb(231, 16, 52);
      background-color: #f3f040;
      border-color: #353433;}
 .navbar-footer{ 
  list-style: none;
 }
 .list-unstyle{list-style: none;
text-decoration: none;}
.p-list{display: flex;
list-style: none;
padding: 1em;
}
.footer-link:hover{
  padding-left: 0.6rem;
  color: rgb(128, 126, 126);
  text-decoration: none;
}
.nav-link:hover{
  padding-left: 0.6rem;
  color: rgb(128, 126, 126);
  text-decoration: none;
}
